    /*master.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('resources/battleship.jpg');
    /* Path to your background image */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    animation: fadein 2s;
    /* Background fade-in effect */
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes float-animation {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-3px);
    }
    /* Slight upward movement */
    100% {
        transform: translateY(0);
    }
}

header {
    background: rgba(53, 66, 74, 0.8);
    color: #ffffff;
    padding: 20px 0;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav a {
    color: #ffffff;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}

main {
    padding: 20px;
}

footer {
    text-align: center;
    padding: 10px 0;
    background: rgba(53, 66, 74, 0.8);
    color: #ffffff;
}

.hamburger-menu {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.menu-icon {
    font-size: 30px;
    color: #ffffff;
    transition: transform 0.3s;
}

.menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background: rgba(53, 66, 74, 0.9);
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
    width: 200px;
    opacity: 0;
    transform: translateX(-20px);
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.hamburger-menu .open {
    transform: rotate(90deg);
}

.project-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.card {
    background: rgba(255, 255, 255, 0.9);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    width: 30%;
    /* Responsive width */
    margin: 10px;
    padding: 20px;
    text-align: center;
    /* Center text in card */
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.card h3 {
    margin: 10px 0 5px;
}

.card p {
    margin: 5px 0;